/* Seccion variable*/
:root {
  --primario: #6834a6;
  --blanco: #fff;
  --gris: #bdbcbc;
  --negro: #000000;
  --fuentePrincipal: "Bungee", sans-serif;
  --fuenteSecundaria: "Montserrat", sans-serif;
  --fuenteTitulos: "Inter", sans-serif;
  --color-text: #e4e4e4;
  --p-color: #6e6e6e;
  --card-width: 280px;
  --card-height: 400px;
  --card-spacing: 40px;
  --animation-duration: 20s;
  --glow-intensity: 0.5;
  --float-distance: 10px;
  --color1: #0a0a0a;
  --color2: #1F3944;
  --color3: white;
  --body-font: 'Outfit', sans-serif;
  --heading-font: 'Space Grotesk', sans-serif;
  --hue-color: 242;
  --skin-color: hsl(342, 92%, 46%);
  --mirage-color: hsl(210, 10%, 23%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 85%);
  --body-color: hsl(var(--hue-color), 30%, 0%);
  --box-color: hsl(var(--hue-color), 14%, 10%);
  --scroll-box-color: hsl(var(--hue-color), 12%, 38%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);
  --signature-font: 'Turret Road', sans-serif;
  --biggest-font-size: 3rem;
  --h1-font-size: 3.25rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  --font-medium: 500;
  --font-bold: 600;
  --mb025: .25rem;
  --mb05: .5rem;
  --mb075: .75rem;
  --mb1: 1rem;
  --mb15: 1.5rem;
  --mb2: 2rem;
  --mb25: 2.5rem;
  --mb3: 3rem;
  --z-fixed: 10;
  --z-modal: 100;
}

/* Seccion Base  */
* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

section {
  padding-block: 10rem;
}

.container {
  max-width: 148rem;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 1rem;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

/* Particles */
#particles-js {
  background-color: transparent;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

/* popup */

.portfolio-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.portfolio-popup.open {
  display: flex;
}
.portfolio-popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.pp-thumbnail img {
  max-width: 100%;
  height: auto;
}
.portfolio-popup-subtitle {
  color: white;
  font-size: 1.5rem;
  margin: 10px 0;
}
.portfolio-popup-body {
  color: white;
  font-size: 1.2rem;
}

/* Hero image centering */
.hero-main-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.hero-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% ;
}

/* Seccion Navbar*/
.bars__menu {
  width: 5rem;
  height: 4rem;
  cursor: pointer;
  z-index: 1001;
  margin: 3rem;
  position: fixed;
}

.bars__menu span {
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: var(--blanco);
  margin-top: 0.6rem;
  border-radius: 2rem;
  transform-origin: 0px 100%;
  transition: all 500ms;
}

.bars__menu:hover span {
  background-color: #fff;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff;
  /* Agrega un brillo */
}

.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
  opacity: 0;
  margin-left: -3rem;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 10px);
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 0;
}

/* NAVEGATION ============== */
.nav-content {
  position: fixed;
  right: -100%;
  background-color: aliceblue;
  transition: 400ms ease-in-out;

  width: 100%;
  height: 100vh;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.082);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.nav-content.active {
  right: 0;
  bottom: 0;
}

.nav-content ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0;
}

.nav-content ul li {
  width: max-content;
}

.nav-content ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: var(--blanco);
}

.nav-content li a::after {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 2rem;
  background-color: rgb(192, 192, 192);

  position: relative;
  bottom: -1rem;
  left: -1rem;
  display: block;

  transition: width 200ms ease-in-out;
}

.nav-content li a:hover::after {
  padding-inline: 1rem;
  width: 100%;
}

.nav-content .social-links {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;

  position: sticky;
  top: 100px;
}

.nav-content .social-links svg {
  filter: drop-shadow(2px 4px 20px #006ddd);
  animation: move 2.5s infinite ease-in-out;
  transition: all 200ms ease-in-out;
}

@keyframes move {
  50% {
    transform: translateY(10px);
  }
}

.nav-content .social-links a svg:hover {
  filter: drop-shadow(4px 8px 20px #ffffff);
  cursor: pointer;
}

.nav-content .social-links a:nth-child(2) svg {
  animation-delay: 200ms;
}

.nav-content .social-links a:nth-child(3) svg {
  animation-delay: 400ms;
}

.bars__menu {
  right: 2%;
  top: 4%;
}

@media (min-width: 768px) {
  .bars__menu .bar {
    /* width: 55px; */
    height: 2px;
  }

  .nav-content {
    width: 50%;
  }

  .nav-content ul {
    gap: 4rem;
  }

  .nav-content ul li a {
    text-decoration: none;
    font-size: 4rem;
    color: var(--blanco);
  }

  .nav-content .social-links {
    margin-top: 8rem;
  }
}

/*Seccion Hero*/


/* Keyframes for Hero */
@keyframes gangorra {
  0% {
      transform: translateY(0%);
  }

  50% {
      transform: translateY(-40%);
  }

  100% {
      transform: translateY(40%);
  }
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

/* Hero Section */
.hero-main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/Assets/img/Bienvenidos.svg");
  background-size: 1000vh;
  background-position: 50% 41.7%;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-bottom: 200px;
  margin-top: 0;
  padding-top: 0;

}

.hero-main-image {
  width: 100vw;
  height: 100vh;
  max-width: 99vw;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-position: center ;
  display: block;
}

.hero-main-logo {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: 1;
  object-fit: cover;
}

.hero-text-logo-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.hero-text-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("/Assets/img/hero-pc.avif");
  background-repeat: no-repeat;
  background-position: 50% 41.7%;
  background-size: 48vh;
  background-origin: content-box;
  padding-bottom: 200px;
  height: 100vh;
  position: absolute;
  inset: 0;
}

.hero-text {
  color: #ffb0c4;
  text-align: center;
  text-transform: uppercase;
  background-image: radial-gradient(circle at 50% 200vh,
          rgba(240, 220, 180, 0) 0,
          rgba(112, 128, 144, 0.5) 90vh,
          rgba(78, 84, 117, 0.8) 120vh,
          rgba(20, 30, 48, 0) 150vh);

  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: clamp(2.8rem, 9vw, 8.5rem);
  width: 100%;
  line-height: 0.9;
  margin-top: 45% !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.scroll-indicator {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 14px;
  z-index: 10;
}

.scroll-indicator svg {
  color: #ffb0c4;
  width: 100%;
  height: 100%;
}

/* Letras Animation */
.letras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}

.letras p {
  display: inline-flex;
  color: var(--blanco);
  font-size: 2.6rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  padding: 0 4px;
  margin: 0;
  letter-spacing: 2px;
}

p:nth-child(2),
p:nth-child(12) {
  animation: gangorra 0s alternate infinite;

}

p:nth-child(3),
p:nth-child(11) {
  animation: gangorra 2s alternate infinite;
}

p:nth-child(4),
p:nth-child(10) {
  animation: gangorra 4s alternate infinite;
}

p:nth-child(5),
p:nth-child(9) {
  animation: gangorra 3s alternate infinite;
}

p:nth-child(6) {
  animation: gangorra 3s alternate infinite;
}

p:nth-child(8) {
  animation: gangorra 4s alternate infinite;
}