---
// AboutSection.astro
---

<section class="about section" id="about">
  <div class="wrapper">
    <header>
      <div class="word">
        <span>S</span>
        <span>O</span>
        <span>B</span>
        <span>R</span>
        <span>E</span>
        <span> </span>
        <span>M</span>
        <span>Í</span>
      </div>
      <p>Mi experiencia y habilidades
      </p>
    </header>

    <div class="about-container container">
      <div class="about-image">
        <div class="image-container">
          <img src="/Assets/img/ejemplo2.avif" alt="Santiago Barbosa - Desarrollador Full Stack" class="about-img"
            loading="lazy">
          <div class="image-overlay"></div>
        </div>
      </div>

      <div class="about-data">
        <h3 class="about-heading">¡Hola!, Soy Santiago Barbosa</h3>
        <p class="about-description">
          Desarrollador web Full Stack apasionado por crear experiencias digitales únicas.
          Me especializo en el desarrollo de aplicaciones web modernas, responsivas y de alto rendimiento.
          Con experiencia en tecnologías como Angular,Astro, React, Gsap, Java ,Php y bases de datos Mysql y entre
          otras.
        </p>

        <div class="about-info">
          <div class="about-box">
            <i class="fas fa-code about-icon"></i>
            <h3 class="about-title">Desarrollo</h3>
            <span class="about-subtitle">Full Stack</span>
          </div>

          <div class="about-box">
            <i class="fas fa-project-diagram about-icon"></i>
            <h3 class="about-title">Proyectos</h3>
            <span class="about-subtitle">10+ Completados</span>
          </div>

          <div class="about-box">
            <i class="fas fa-rocket about-icon"></i>
            <h3 class="about-title">Experiencia</h3>
            <span class="about-subtitle">1 Año</span>
          </div>
        </div>

        <div class="about-buttons">
          <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSBpRhNpTfnQZJrdglZmtrmcMCBTdZFfTxgzLMQrttrMBNrLkxZCGzlXVrZmZNFshGvTHTsz"
            target="_blank" rel="noopener noreferrer" class="contact-button"
            aria-label="Enviar email a sbarbosarivas@gmail.com">
            Contáctame
            <i class="fas fa-paper-plane" aria-hidden="true"></i>
            <span>sbarbosarivas@gmail.com</span>
          </a>
          <a href="/CV Santiago Barbosa.pdf" target="_blank" rel="noopener noreferrer"
            class="contact-button cv-button" aria-label="Descargar hoja de vida de Santiago Barbosa">
            Descargar
            <i class="fas fa-download" aria-hidden="true"></i>
            <span>Hoja de vida Santiago</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
