---
// Footer.astro
---

<!-- Footer -->
<footer id="footer" class="footer-hidden">
  <div class="footer-content">
    <div class="footer-info" data-animate>
      <span><a
          href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSBpRhNpTfnQZJrdglZmtrmcMCBTdZFfTxgzLMQrttrMBNrLkxZCGzlXVrZmZNFshGvTHTsz"
          target="_blank" rel="noopener noreferrer"
          aria-label="Enviar email a sbarbosarivas@gmail.com">sbarbosarivas@gmail.com</a></span>
      <span>Santiago Barbosa</span>
      <span>Neiva, Colombia</span>
      <center><span class="footer-copy">© PortafolioBarbosa2025</span></center>
    </div>
    <div class="footer-socials" data-animate>
      <a href="https://www.linkedin.com/in/santiago-barbosa-903641209/" target="_blank" rel="noopener noreferrer"
        class="social-icon linkedin" aria-label="Visitar perfil de LinkedIn">
        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/BARBOSA191919" target="_blank" rel="noopener noreferrer"
        class="social-icon github" aria-label="Visitar perfil de GitHub">
        <i class="fab fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/sbarbosarivas/" target="_blank" rel="noopener noreferrer"
        class="social-icon instagram" aria-label="Visitar perfil de Instagram">
        <i class="fab fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="https://discord.gg/ChznPA5q" target="_blank" rel="noopener noreferrer" class="social-icon discord"
        aria-label="Unirse al servidor de Discord">
        <i class="fab fa-discord" aria-hidden="true"></i>
      </a>
    </div>
    <div class="footer-phrase" data-animate>
      <em>"Si puedes imaginarlo, puedes programarlo."</em>
    </div>
  </div>
</footer>
